body {
    font-family: Arial;
    margin: 0;
  }
  
.header {
    width: 100%; 
    padding-top: 20px; 
    padding-left: 40px; 
    padding-right: 40px; 
    overflow: hidden;
    background-color: maroon;
    color: white;
}

.nav {
    overflow: hidden;
    background-color: rgb(73, 7, 7);
    font-size: 16px;
}
.nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a:hover {
    color: rgb(73, 7, 7);
    background-color: wheat;
}
.nav a:visited {
    color: white;
    background-color: rgb(73, 7, 7);
}
.nav a:active {
    color: maroon;
    background-color: whitesmoke;
}

.pasus {
    padding: 20px;
}

.tabelaOdlikovanja {
    border-collapse: collapse;
    width: 100%;
}
.tabelaOdlikovanja td th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.tabelaOdlikovanja img {
    align-items: center;
}
.tabelaOdlikovanja tr {
    text-align: center;
    align-items: center;
    font-weight: bold;

}
.tabelaOdlikovanja tr:nth-child(even){
    background-color: #f2f2f2;
}
.tabelaOdlikovanja tr:hover{
    background-color: #ddd;
}
.tabelaOdlikovanja th {
    height: 50px;
    padding: 12px;
    background-color: maroon;
    color: white;
}

