body {
    font-family: Arial;
    margin: 0;
  }
  
.header {
    width: 100%; 
    padding-top: 20px; 
    padding-left: 80px; 
    overflow: hidden;
    background-color: maroon;
    color: white;
}

.levi {
    float: left;
    width: 40%;
    padding-top: 50px;
    font-size: 30px;

}
.desni {
    float: right;
    width: 60%;
    padding-right: -40px;
}

.nav {
    width: 100%;
    overflow: auto;
    background-color: rgb(73, 7, 7);
    position: relative;
}
.nav a{
    float: left;
    width: 18%;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
}
.nav a:hover {
    color: rgb(73, 7, 7);
    background-color: wheat;
}
.nav a:visited {
    color: white;
    background-color: rgb(73, 7, 7);
}
.nav a:active {
    color: maroon;
    background-color: whitesmoke;
}

.pasus {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pasus1 {
    padding-top: 20px;
}

.tabelaOdlikovanja {
    border-collapse: collapse;
    width: 100%;
}
.tabelaOdlikovanja td th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.tabelaOdlikovanja img {
    align-items: center;
}
.tabelaOdlikovanja tr {
    text-align: center;
    align-items: center;
    font-weight: bold;

}
.tabelaOdlikovanja tr:nth-child(even){
    background-color: #f2f2f2;
}
.tabelaOdlikovanja tr:hover{
    background-color: #ddd;
}
.tabelaOdlikovanja th {
    height: 50px;
    padding: 12px;
    background-color: maroon;
    color: white;
}

.sadrzaj{
    width:80%;
    margin: auto;
}

.biografija{
    width: 100%;
    display: flex;
    padding-right: 10px;
}
.divlevi {
    flex: 1;
}
.divdesni {
    flex: 2;
}

.lista {
    list-style-type: disc;
}

.opis {
    text-align: center;
    font-style: italic;
}

.footer {
    background-color: rgb(73, 7, 7);
    height:200;
}
#autori{
    color: white;
    margin: auto;
    width: 20%;
    font-size: 12px;
    text-align: center;
    padding: 30px;
}

.izvori {
    height:500px
}

.slika {
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    padding-bottom: 20px;
}
